<% if @another_round %>
	<p>
		<em>Another Round?</em>
		<a href='/joke' class='btn btn-success'>Yes</a>
    <a href='/joke_over' class='btn btn-danger'>No</a>
	</p>

<% end %>


<h2>Cracker Jokes</h2>

<p><%=session[:speaker_name] %> is telling a joke! </p>




<div class='well'>
<h4>Ask:</h4>
	<%=session[:ask_to_show] %>
	<p>	
	<br/>
	<%if @reveal %>
		<form id='reveal_form' action='/joke/reveal' method='post'>
			<input type='submit' class='btn btn-success' value='Reveal'/>
		</form>
	<% end %>

	<%if @next %>
	<form id='next_form' action='/joke/next' method='post'>
		<input type='submit' class='btn btn-primary' value='Next'/>
	</form>
	<% end %>
	</p>
</div>

<br/>

<div class='well'>
	<h4>Answer:</h4>
	<% if @show_answer %>
		<%=session[:answer_to_show] %>
	<% end %>
</div>